.page-item.disabled {
cursor: not-allowed;
}

a.btn:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 a.btn {
     -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

.table-responsive {
white-space: nowrap;
}

.panel-header {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	padding-top : 20px;
}

.panel-foot {
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
	margin-top: 20px;
	padding-top: 30px;
}
.moving-tab {
	text-align: center;
	padding: 10px;
	font-size: 10px;
	text-transform: uppercase;
	-webkit-font-smoothing: subpixel-antialiased;
	background-color: #007bff;
	top: -4px;
	left: 0px;
	border-radius: 4px;
	color: #FFFFFF;
	cursor: pointer;
	font-weight: 500;
	box-shadow: 0 16px 26px -10px rgba(0, 123, 255, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(244, 67, 54, 0.2);
}


.panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-primary > .panel-heading {
	color: #fff;
	background-color: #337ab7;
	border-color: #337ab7;
}