	@media (max-width: 700px) {
	.modal {
	max-width:350px;
	}
	}
	.table-responsive {
	white-space: nowrap;
	}
		.col-md-70 {
	 position:relative;
	width:100%;
	padding-right:15px;
	padding-left:15px
	}
	@media (min-width: 768px) {
	.col-md-70 {
	  -ms-flex:0 0 50%;
 	  flex:0 0 50%;
  	  max-width:100%;
	}
	}
	.switch {
	  display: inline-block;
	  height: 24px;
	  position: relative;
	  width: 40px;
	}

	.switch input {
	  display:none;
	}

	.slider {
	  background-color: #ccc;
	  bottom: 0;
	  cursor: pointer;
	  left: 0;
	  position: absolute;
	  right: 0;
	  top: 0;
	  transition: .4s;
	}

	.slider:before {
	  background-color: #fff;
	  bottom: 4px;
	  content: "";
	  height: 16px;
	  left: 4px;
	  position: absolute;
	  transition: .4s;
	  width: 16px;
	}

	#closeform input:checked + .slider {
	  background-color: #66bb6a;
	}

	#closeform input:checked + .slider:before {
	  transform: translateX(15px);
	}

	.slider.round {
	  border-radius: 34px;
	}

	.slider.round:before {
	  border-radius: 50%;
	}