/* Custom Radio Button Start*/
		.entretien {
		margin:auto; 
		border: 5px solid #fd000085;
		width: max-content;
		}
		@media (max-width: 700px) {
		.entretien {
		margin:auto; 
		border: 5px solid #fd000085;
		width: auto;
		}
		}
		
		.faq-button{
		border: 2px solid #47b2e48c;
		border-radius:50px;
		}
		.radiotextsty {
		  font-size: 14px;
		}

		.customradio {
		  display: block;
		  position: relative;
		  padding-left: 30px;
		  margin-bottom: 0px;
		  cursor: pointer;
		  font-size: 14px;
		  -webkit-user-select: none;
		  -moz-user-select: none;
		  -ms-user-select: none;
		  user-select: none;
		}

		/* Hide the browser's default radio button */
		.customradio input {
		  position: absolute;
		  opacity: 0;
		  cursor: pointer;
		}

		/* Create a custom radio button */
		.checkmark {
		  position: absolute;
		  top: 0;
		  left: 0;
		  height: 20px;
		  width: 20px;
		  background-color: white;
		  border-radius: 50%;
		  border:1px solid;
		}

		/* On mouse-over, add a grey background color */
		.customradio:hover input ~ .checkmark {
		  background-color: transparent;
		}

		/* When the radio button is checked, add a blue background */
		.customradio input:checked ~ .checkmark {
		  background-color: white;
		  border:1px solid;
		}

		/* Create the indicator (the dot/circle - hidden when not checked) */
		.checkmark:after {
		  content: "";
		  position: absolute;
		  display: none;
		}

		/* Show the indicator (dot/circle) when checked */
		.customradio input:checked ~ .checkmark:after {
		  display: block;
		}

		/* Style the indicator (dot/circle) */
		.customradio .checkmark:after {
		  top: 2px;
		  left: 2px;
		  width: 14px;
		  height: 14px;
		  border-radius: 50%;
		  background: black;
		}

		/* Custom Radio Button End*/
		
		.tab {
		  display: none;
		}
		#nextBtn {
		border: 0;
			padding: 12px 34px;
			color: #fff;
			transition: 0.4s;
			border-radius: 50px;
		background: #47b2e4;
		}
		
		#prevBtn {
			border: 0;
			padding: 12px 34px;
			color: #fff;
			transition: 0.4s;
			border-radius: 50px;
		  background-color: #bbbbbb;
		}

		/* Make circles that indicate the steps of the form: */
		.step {
		  height: 15px;
		  width: 15px;
		  margin: 0 2px;
		  background-color: #bbbbbb;
		  border: none;  
		  border-radius: 50%;
		  display: inline-block;
		  opacity: 0.5;
		}

		.step.active {
		  opacity: 1;
		}

		/* Mark the steps that are finished and valid: */
		.step.finish {
		  background-color: #4CAF50;
		}
		/* Bouton copier format*/
		.copy {
		height: 22px;
		text-align: center;
		padding-top: 0px;
		padding-bottom: 0px;
		vertical-align: baseline;
		border-top-width: 0px;
		border-bottom-width: 25px;
	}