		.entretien {
		margin:auto; 
		border: 5px solid #fd000085;
		width: max-content;
		}
		@media (max-width: 700px) {
		.entretien {
		margin:auto; 
		border: 5px solid #fd000085;
		width: auto;
		}
		}
		
		.faq-button{
		border: 2px solid #47b2e48c;
		border-radius:50px;
		color: white;
		}
 		.faq-button:hover{
  		color:aliceblue;
  		}
		
		.tab {
		  display: none;
		}
		#nextBtn {
		border: 0;
			padding: 12px 34px;
			color: #fff;
			transition: 0.4s;
			border-radius: 50px;
		background: #47b2e4;
		}
		
		#prevBtn {
			border: 0;
			padding: 12px 34px;
			color: #fff;
			transition: 0.4s;
			border-radius: 50px;
		  background-color: #bbbbbb;
		}

		/* Make circles that indicate the steps of the form: */
		.step {
		  height: 15px;
		  width: 15px;
		  margin: 0 2px;
		  background-color: #bbbbbb;
		  border: none;  
		  border-radius: 50%;
		  display: inline-block;
		  opacity: 0.5;
		}

		.step.active {
		  opacity: 1;
		}

		/* Mark the steps that are finished and valid: */
		.step.finish {
		  background-color: #4CAF50;
		}
		/* Bouton copier format*/
		@-webkit-keyframes clignote {
		0%{box-shadow:0px 0px 15px #00C0EC;}
		50%{box-shadow:0px 0px 0px #0080FF;}
		100%{box-shadow:0px 0px 15px #0080FF;}
		}
		
		.copy {
		height: 22px;
		text-align: center;
		padding-top: 0px;
		padding-bottom: 0px;
		vertical-align: baseline;
		border-top-width: 0px;
		border-bottom-width: 25px;
		text-shadow: 0 1px 0 #fff;
		box-shadow:0px 0px 15px #0080FF;
		-webkit-animation-name: clignote;
		-webkit-animation-duration: 1s; 
		-webkit-animation-iteration-count:infinite;
		}